<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=devide-width">
    <title>Nombres de visite</title>
</head>
<body>
    <h1>
        Bonjour, c'est votre visite numéro {{ app.session.get('nbVisite') }}
    </h1>
</body>
</html>

